---
name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  vale:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c
        with:
          fail_on_error: true
          reporter: github-check
          vale_flags: "--glob=*.{md,txt}"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper list of changed files
          # within `super-linter`
          fetch-depth: 0
          persist-credentials: false
      - uses: super-linter/super-linter/slim@47984f49b4e87383eed97890fe2dca6063bbd9c3
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          IGNORE_GENERATED_FILES: true
          MARKDOWN_CONFIG_FILE: .markdown-lint.yaml
          SUPPRESS_POSSUM: true
          VALIDATE_CHECKOV: false
          VALIDATE_JSCPD: false
